* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Arial;
  text-align: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  /* added for nav-toggle positioning */
  position: relative;
}

/* Start of NAV  */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__content {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.header__branding {
  font-size: 1.5rem;
}

.header-link {
  font-size: 1.5rem;
}

.header__hamburger {
  display: none;
  cursor: pointer;
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: white;
}

/* Start of First Section (Home) */

#hero {
  padding: 1.875em 0;
  margin-top: 4.375em;
  background-color: #d3d3d3;
}

.hero__heading {
  font-size: 4.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1.875rem;
}

.hero-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.hero__main-text {
  font-size: 2rem;
  line-height: 1.6;
  margin: 1.875rem 0;
}

.resume-btn {
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  background-color: purple;
  color: white;
  cursor: pointer;
  margin: 0.5em 0;
}

.hero__hr {
  margin-top: 1.875em;
}

/* End of First Section (Home) */

/* Start of Second Section (About) */

#about {
  background-color: #d3d3d3;
  padding: 1.875em 0;
}

.about__header {
  font-weight: 600;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1.875rem;
}

.about__container {
  margin-bottom: 1.875em;
}

.about__para {
  font-size: 1.5rem;
  line-height: 1.6;
}

.skills__header {
  font-weight: 600;
  color: black;
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
}

.skills__flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.skill > img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.625em;
}

.skill-text {
  font-size: 1.5rem;
}

.about__hr {
  margin-top: 1.875em;
}

/* End of Second Section (About) */

/* Start of Third Section (Project) */

#projects {
  background-color: #d3d3d3;
  padding: 1.875em 0;
}

.project__heading {
  font-weight: 600;
  color: black;
  font-size: 2.5rem;
}

.projects__grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
}

.project__container {
  margin: 1.875em auto;
  border: 5px double black;
}

.project__title {
  text-align: center;
  font-size: 1.3rem;
}

.project-image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  margin: 0;
}

.project__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project__buttons button {
  width: 100%;
}

/* End of Third Section (Project) */

/* Start of Fourth Section (Contact) */

#contact {
  background-color: #d3d3d3;
  padding: 1.875em 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact__heading {
  font-weight: 600;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 0.313rem;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  padding-left: 1.563em;
  color: #666;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Times New Roman", Arial;
}

textarea {
  resize: none;
  padding-top: 0.938em;
}

.contact-inputs:focus {
  border: 2px solid black;
}

.contact-label {
  font-size: 1.3rem;
}

.contacts-inputs::placeholder {
  color: #a9a9a9;
}

.contact-button {
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  background-color: purple;
  color: white;
  cursor: pointer;
  margin: 0.5em 0;
}

/* End of Fourth Section (Contact) */

/* Start of Footer */

.footer {
  text-align: left;
  background-color: black;
  padding: 3.125rem;
  color: white;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__heading {
  margin-bottom: 1.875rem;
  font-size: 2.5rem;
}

.footer__content-1 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer_para {
  font-size: 1.5rem;
}

.footer__content-2 {
  display: flex;
  flex-direction: column;
}

.social__container {
  display: flex;
  gap: 15px;
}

.social-icon--white {
  background-color: white;
  border-radius: 10px;
}

.copyright__container {
  margin-top: 1.875em;
  display: flex;
  padding: 4em 0;
  border-top: 1px solid grey;
  justify-content: center;
}

.copyright__para {
  font-size: 1.5rem;
}

/* End of Footer */

/* Start of Media Queries */

@media (min-width: 1200px) {
  .projects__grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 1024px) {
  .header__hamburger {
    display: block;
  }

  .header__hamburger.active .header__hamburger-bar:nth-child(2) {
    opacity: 0;
  }

  .header__hamburger.active .header__hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header__hamburger.active .header__hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header__main {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .header__item {
    margin: 1em 0;
  }

  .header__main.active {
    left: 0;
  }
}

@media (max-width: 800px) {
  body {
    text-align: center;
  }

  .skills__flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    text-align: center;
  }

  .projects__grid {
    display: block;
  }

  .project-image {
    max-width: 100%;
  }

  .footer__content {
    display: block;
  }

  .footer__content-1 {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1.875em;
    text-align: center;
  }

  .social__container {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

/* End of Media Queries */
