*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Times New Roman", "Arial";
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* added for nav-toggle positioning */
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Start of First Section */

header {
  background: #2e323f;
  padding-top: 1em;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2.5em;
  height: 2.5em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* made changes here from video
 to make it more accessible.
 
 Works the same :) */
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link--button {
  padding: 0.25em 0.75em;
  background: #fff;
  color: #23424a;
  border-radius: 100px;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

.nav__list--primary {
  margin-bottom: 2em;
}

.logo {
  height: 30px;
  display: flex;
}

@media (max-width: 1000px) {
  .main {
    text-align: center;
    margin: 0 auto;
  }

  .row {
    display: block;
  }

  .sidebar {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__item {
    margin: 0 0 0 1.5em;
  }
}
