* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial;
  text-align: center;
}

/* Start of NAV  */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #98dbc6;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  /* added for nav-toggle positioning */
  position: relative;
}

.row {
  display: flex;
}

.header__content {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.header__branding {
  font-size: 2rem;
}

.header__hamburger {
  display: none;
  cursor: pointer;
}

.header__hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;
}

@media (max-width: 1024px) {
  .header__hamburger {
    display: block;
  }

  .header__hamburger.active .header__hamburger-bar:nth-child(2) {
    opacity: 0;
  }

  .header__hamburger.active .header__hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header__hamburger.active .header__hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header__main {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #98dbc6;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .header__item {
    margin: 16px 0;
  }

  .header__main.active {
    left: 0;
  }
}

/* Start of First Section (Home) */

#hero {
  margin-top: 4.375em;
  border: 1px solid black;
}

.hero__heading {
  font-size: 4.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hero__image {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.hero__main-text {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.project-btn {
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  background-color: purple;
  color: white;
  cursor: pointer;
  margin: 0.5em;
}

.resume-btn {
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  background-color: purple;
  color: white;
  cursor: pointer;
  margin: 0.5em;
}

/* End of First Section (Home) */

/* Start of Second Section (About) */

.about-me__container {
}

.skills__grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.skill > img {
  display: block;
  margin: 0 auto;
}

/* End of Second Section (About) */

/* Start of Third Section (Project) */

.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.project__container {
  display: block;
  margin: 0 auto;
}

.project__image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-size: cover;
}

/* End of Third Section (Project) */

/* Start of Fourth Section (Contact) */

.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact__left-title h2 {
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact__left-title hr {
  border: none;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 10px;
}

.contact-inputs + textarea {
  resize: none;
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contacts-inputs::placeholder {
  color: #a9a9a9;
}

.contact__left button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* End of Fourth Section (Contact) */

@media (max-width: 768px) {
  .contact-inputs {
    width: 80vw;
  }
}
